In [2]:
import pandas as pd 
import numpy as np

In [3]:
A=pd.DataFrame({'col1':['a','b','c']})

In [15]:
B=pd.DataFrame({'col1':['a','b','c'],'col2':[1,2,3]})

In [16]:
A.merge(B,on='col1',how='left')

  col1  col2
0    a     1
1    b     2
2    c     3

In [17]:
C=pd.DataFrame({'col1':['d','b','e']})

In [18]:
A.col1.replace(C.col1)

0    a
1    b
2    c
Name: col1, dtype: object

In [19]:
C

  col1
0    d
1    b
2    e

In [20]:
C['col1']

0    d
1    b
2    e
Name: col1, dtype: object

In [21]:
A

  col1
0    a
1    b
2    c

In [22]:
def smth(record,x):
    return record+x

In [23]:
smth(A.col1,'ac')

0    aac
1    bac
2    cac
Name: col1, dtype: object

In [27]:
def fnc(x):
    return x+3, x+5

In [32]:
for frst, sec in fnc:
    frst=B.col2.apply(fnc)[frst]

TypeError: 'function' object is not iterable