In [269]:
import pandas as pd
import datetime as dt

In [270]:
FM=pd.read_csv(r'C:\Users\devba\Desktop\St_S.csv',delimiter=';')

In [271]:
FM.head()

,Дата,Категория,Статья,Комментарий,Приход,Расход
0,02.09.2019,Люда зп август,зп,оплачено,NaN,"90 000,00"
1,02.09.2019,Юля зп август,зп,оплачено,NaN,"30 000,00"
2,02.09.2019,Лена зп август,зп,оплачено,NaN,"36 364,00"
3,02.09.2019,"Уборка за вых 31,01 августа",студия,оплачено,NaN,"600,00"
4,02.09.2019,Уборка коридор,студия,оплачено,NaN,"1000,00"

In [272]:
FM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Дата         872 non-null    object
 1   Категория    872 non-null    object
 2   Статья       872 non-null    object
 3   Комментарий  872 non-null    object
 4   Приход       136 non-null    object
 5   Расход       736 non-null    object
dtypes: object(6)
memory usage: 41.0+ KB

In [273]:
FM.columns=['date','category','type','comment','income','cost']

In [274]:
FM.head()

         date                     category    type   comment income       cost
0  02.09.2019               Люда зп август      зп  оплачено    NaN  90 000,00
1  02.09.2019                Юля зп август      зп  оплачено    NaN  30 000,00
2  02.09.2019               Лена зп август      зп  оплачено    NaN  36 364,00
3  02.09.2019  Уборка за вых 31,01 августа  студия  оплачено    NaN     600,00
4  02.09.2019               Уборка коридор  студия  оплачено    NaN    1000,00

In [275]:
FM.date.describe()

count            872
unique           197
top       20.08.2020
freq              25
Name: date, dtype: object

In [276]:
FM.date=pd.to_datetime(FM.date, format="%d.%m.%Y")

In [277]:
FM.date.describe()

count                     872
unique                    197
top       2020-08-20 00:00:00
freq                       25
first     2019-09-02 00:00:00
last      2020-09-20 00:00:00
Name: date, dtype: object

In [278]:
FM.category.describe()

count                    872
unique                   331
top       Комисии Альфа Банк
freq                      58
Name: category, dtype: object

In [279]:
FM.income=FM.income.apply(lambda x: 0 if pd.isna(x)==True else x)
FM.income=FM.income.apply(lambda x: int(pd.to_numeric(str(x).replace(' ','').replace(',','.'))))

In [280]:
FM.cost=FM.cost.apply(lambda x: 0 if pd.isna(x)==True else x)
FM.cost=FM.cost.apply(lambda x: int(pd.to_numeric(str(x).replace(' ','').replace(',','.'))))

In [281]:
FM.head()

        date                     category    type   comment  income   cost
0 2019-09-02               Люда зп август      зп  оплачено       0  90000
1 2019-09-02                Юля зп август      зп  оплачено       0  30000
2 2019-09-02               Лена зп август      зп  оплачено       0  36364
3 2019-09-02  Уборка за вых 31,01 августа  студия  оплачено       0    600
4 2019-09-02               Уборка коридор  студия  оплачено       0   1000

In [282]:
FM.income.sum()

24236272

In [283]:
FM.cost.sum()

20216304

In [284]:
FM.income.sum()-FM.cost.sum()

4019968

In [285]:
FM.type.value_counts()

зп                       327
студия                   205
агентские                107
проект                    96
комиссии                  63
фин-юр                    26
налоги                    17
виз                       14
аренда                     6
дивиденды                  5
агенсткие за договора      2
агентские                  2
возмещения                 1
непридвиденный расход      1
Name: type, dtype: int64

In [286]:
FM.groupby('type').cost.sum()

type
агенсткие за договора     180000
агентские                3144155
агентские                 176657
аренда                    230000
виз                       525710
возмещения                 36733
дивиденды                2392500
зп                       8319782
комиссии                  577725
налоги                   1343106
непридвиденный расход     332764
проект                     23000
студия                   2212172
фин-юр                    722000
Name: cost, dtype: int64

In [287]:
FM.groupby('type').income.sum()

type
агенсткие за договора           0
агентские                 3584826
агентские                       0
аренда                          0
виз                             0
возмещения                      0
дивиденды                       0
зп                              0
комиссии                        0
налоги                          0
непридвиденный расход           0
проект                   20613946
студия                      37500
фин-юр                          0
Name: income, dtype: int64

In [288]:
FM.comment.value_counts()

оплачено    736
пришло      136
Name: comment, dtype: int64

In [348]:
FM[FM.date.dt.year==2020].groupby(FM.date.dt.month).income.sum()

date
1     911000
2    2316780
3    1734640
4     486800
5    1198936
6    2533725
7    3001025
8    3423671
9    1484782
Name: income, dtype: int64

In [347]:
FM[FM.date.dt.year==2020].groupby(FM.date.dt.month).cost.sum()

date
1     371752
2    1811017
3    1981653
4    2167996
5     446909
6    2300915
7    2401148
8    2354546
9    1944878
Name: cost, dtype: int64

In [352]:
PRF=FM.pivot_table(index=FM[FM.date.dt.year==2020].date.dt.month,values=['income','cost'],aggfunc='sum')

In [357]:
PRF

In [353]:
PRF=PRF.insert(2,'profit',PRF.income-PRF.cost,allow_duplicates=True)

In [356]:
PRF

In [354]:
PRF.plot(kind='bar',figsize=(14,8),align='center',grid=True)

AttributeError: 'NoneType' object has no attribute 'plot'